*,
*:before,
*:after {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}

body {
  margin: 0;
}

.height-full {
  height: 100%;
}

.flex {
  display: flex;
}

.flex-vertical {
  flex-direction: column;
}

.flex-spacer {
  flex: 1;
}

.flex-vertical-align-center {
  align-items: center;
}

.scrollview {
  overflow-y: scroll;
}

.topbar {
  font-size: 28px;
  margin: 0;
  padding: 10px 20px;
  border-bottom: 1px solid #dddddd;
}

.wall {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}
.wall-item {
  cursor: pointer;
  list-style-type: none;
  width: 120px;
  height: 160px;
  margin: 5px;
  padding: 10px;
  &:hover {
    background-color: lightcyan;
    border-radius: 5px;
  }
}

.wall-breadcrumb {
  padding: 20px;
  border-bottom: 1px solid #dddddd;
}

.wall-item-wrap {
  height: 100%;
}
.wall-item-name {
  text-align: center;
  font-size: 13px;
  word-break: break-all;
}
.wall-item-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75%;
  padding: 10px;
  img {
    user-select: none;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
  i {
    font-size: 80px;
    &.fa-photo {
      color: gray;
    }
    &.fa-folder {
      color: orange;
    }
  }
}

.gallery {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 21, 21, 0.95);
  color: #cccccc;
  padding: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.gallery-header {
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  .gallery-header--title {
    flex: 1;
  }
  .gallery-header--close {
    cursor: pointer;
    &:hover {
      color: white;
    }
  }
}

.gallery-container {
  padding: 10px 0 40px;
  flex: auto;
  height: 100%;
}

.gallery-item {
  position: absolute;
  width: 100%;
  height: 100%;
  img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.gallery-footer {
  position: absolute;
  width: 100%;
  bottom: 5px;
  text-align: center;
}
